
._4sp8 {
  background-color: #303030; 
}
._1mj, ._ih3 {
  color: #fff;
}
._17w2, ._1ht6{
  color: #eee;
}
._1ht7{
  color: #365899 !important;
}
._hh7, ._5i_d {
  background-color: #aeaeae;
}
._5iwm ._58al {
  background-color: #2e2e2e; color: #cecece;
}
::-webkit-input-placeholder {
  color: #7e7e7e !important;
}
body ._3eur, ._1lj0, body ._3szq {
  color: #eaeaea;
}
._4_j4 .chatAttachmentShelf {
  border-top: 0 !important; 
}
